.navigation {
    padding: 20px;
}

.navigation__list {
    list-style-type: none;
    padding: 20px;
    border: 2px solid crimson;
    border-radius: 20px;
}

.navigation__link:hover {
    color: red;
    border-bottom: none;
}

.navigation__link:active {
    color: brown;
}

.navigation__link {
    text-decoration: none;
}