.section__tableContainer {
    overflow-x: auto;
}

.table {
    width: auto;
    border-collapse: collapse;
}

.table__tableCell {
    border: 1px solid #333;
    text-align: center;
    font-weight: normal;
}

.table__tableRow:nth-child(odd) {
    background-color: rgb(206, 203, 203);
}

.table__tableRow:hover {
    background-color: rgb(179, 177, 177);
}

.table__tableHeader {
    background: crimson;
    color: white;
}

.table__link {
    text-decoration: none;
}